* {
    margin: 0;
    padding: 0;
}

.container_checkBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_checkBox label {
    text-align: center;
    margin: 0em;
}

.container_checkBox input {
    cursor: pointer;
}