.container_message {
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.container_message .error {
    background-color: darkred;
    color: white;
}

.container_message .success {
    background-color: darkgreen;
    color: white;
}

.container_message .edit {
    background-color: darkorange;
    color: white;
}