.container_product {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.container_product h2 {
    font-size: xx-large;
}

.container_product form {
    border-radius: 1em;
    border: 1px solid black;
    padding: 1em;
    width: 50%;
    margin-bottom: 1em;
}

.container_product button {
    margin-top: 1em;
}

.container_product .line_one,
.container_product .line_two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.container_product .line_one input,
.container_product .line_two input,
.container_product .line_two select {
    width: 100%;
    margin: 0em 0.5em;
}

.container_product .div_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}